<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>比赛登录</h1>
    <form id="loginForm">
        <label for="username">账号:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">密码:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="登录">
    </form>
    <p id="error-message" style="color: red;"></p>
    <script src="/static/js/main.js"></script>
</body>
</html>